<section id="hero">
  <span class="ion-android-arrow-dropdown-circle"></span>
  <div class="hero-container">
    <div class="hero-clear">
      <div class="nav">
        <a href="#hero"><img src="assets/img/bitgold-logo.svg" alt=""></a>
        <ul>
          <li><a href="">Sign Up</a></li>
          <li><a href="">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="hero-clear">
      <div class="hero-content">
        <p>Introducing BitGold</p>
        <h1>Payments & Savings in <span class="yellow">Gold</span>.</h1>
        <p>Gold Bullion is the world's oldest asset class and the century's best performing currency.</p>
      </div>
    </div>
  </div>
</section>
